In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import warnings
warnings.filterwarnings("ignore")
plt.rcParams['font.sans-serif'] = ['SimHei']  # 用来正常显示中文标签
plt.rcParams['axes.unicode_minus'] = False  # 用来正常显示负号

In [57]:
te = pd.read_excel("text.xlsx", index_col=0)

In [58]:
te

              min  max
feature_name
A               0    5
B               1   10
C              -5  100

In [59]:
tr = pd.read_excel("test.xlsx")

In [60]:
tr.astype(float)

     A    B      C
0  1.0  0.0 -100.0
1  6.0  9.0  200.0
2  4.0  5.0    6.0

In [61]:
def Judge_Up_Low_Limit(feature_name, min_value, max_value):
    if te.loc[feature_name]['min'] <= min_value and te.loc[feature_name]['max'] >= max_value:
        return 1
    elif te.loc[feature_name]['min'] > min_value and te.loc[feature_name]['max'] < max_value:
        return 4
    elif te.loc[feature_name]['min'] > min_value:        
        return 2
    elif te.loc[feature_name]['max'] < max_value:        
        return 3

for i in range(len(tr.columns)):
    mean_value = round(tr[tr.columns[i]].mean(), 6)
    std_value = round(tr[tr.columns[i]].std(), 6)
    min_value = round(tr[tr.columns[i]].min(), 6)
    quantile_14 = round(tr[tr.columns[i]].quantile(q=0.25), 6)
    quantile_24 = round(tr[tr.columns[i]].quantile(q=0.5), 6)
    quantile_34 = round(tr[tr.columns[i]].quantile(q=0.75), 6)
    max_value = round(tr[tr.columns[i]].max(), 6)
    D_value = max_value - min_value
    print(min_value, max_value)
    judge_limit_res = Judge_Up_Low_Limit(tr.columns[i], min_value, max_value)
    if judge_limit_res == 1:
        print("数据范围正常！")
    elif judge_limit_res == 2:
        print("数据下限超出范围！")
        tr.loc[ tr[tr.columns[i]] < te.loc[ tr.columns[i] ]['min'], tr.columns[i] ] = te.loc[ tr.columns[i] ]['min']
    elif judge_limit_res == 3:
        print("数据上限超出范围！")
        tr.loc[tr[tr.columns[i]] > te.loc[ tr.columns[i] ]['max'], tr.columns[i] ] = te.loc[ tr.columns[i] ]['max']
    elif judge_limit_res == 4:
        print("数据上下限均超出范围！")
        tr.loc[ tr[tr.columns[i]] < te.loc[ tr.columns[i] ]['min'], tr.columns[i] ] = te.loc[ tr.columns[i] ]['min']
        tr.loc[ tr[tr.columns[i]] > te.loc[ tr.columns[i] ]['max'], tr.columns[i] ] = te.loc[ tr.columns[i] ]['max']

1 6
数据上限超出范围！
0 9
数据下限超出范围！
-100 200
数据上下限均超出范围！

In [62]:
tr

   A  B    C
0  1  1   -5
1  5  9  100
2  4  5    6